<!-- 排行榜 -->
<div class="toplist clearfix">
    <!-- 左边导航部分 -->
    <div class="toplist-left">
        <div class="music-top-nav">
            <p>
                <b> 云音乐特色榜</b>
            </p>
            <ul class="music-top-lists">
                <!-- 点击事件获取歌单和评论，初始第一页 -->
                <li routerLink="/music/discover/toplist" [queryParams]="{getid:musicTopList.getid}" *ngFor="let musicTopList of musicTopLists; "
                    (click)="musicTop(musicTopList.getid);
                id=musicTopList.getid" [class.music-top-li]="id==musicTopList.getid">
                    <img src="{{musicTopList.ImgUrl}}" alt="">
                    <div>
                        <p>{{musicTopList.name}}</p>
                        <p>
                            <b>{{musicTopList.time}}</b>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="global-top-nav">
            <p>
                <b>全球媒体榜</b>
            </p>
            <ul class="music-top-lists">
                <li routerLink="/music/discover/toplist" [queryParams]="{getid:globalTopList.getid}" *ngFor="let globalTopList of globalTopLists; "
                    (click)="musicTop(globalTopList.getid);
                    id=globalTopList.getid" [class.music-top-li]="id==globalTopList.getid">
                    <img src="{{globalTopList.ImgUrl}}" alt="">
                    <div>
                        <p>{{globalTopList.name}}</p>
                        <p>
                            <b>{{globalTopList.time}}</b>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 右边内容部分 -->
    <div class="toplist-right">
        <!-- 榜单标题部分 -->
        <div class="content-title">
            <img src="{{musicTops?.coverImgUrl}}" alt="">
            <div class="content-title-text">
                <h2>{{musicTops?.name}}</h2>
                <p>
                    <i class="fa fa-clock-o"></i>
                    <span>{{musicTops?.description}}</span>
                </p>
                <ul>
                    <li class="content-title-text-li1">
                        <a href="">
                            <i class="fa fa-play-circle-o"></i>
                            <span>播放</span>
                        </a>
                        <a href="">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-plus-square-o"></i>
                            <span>({{musicTops?.subscribedCount}})</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-share-square-o"></i>
                            <span>({{musicTops?.shareCount}})</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <span>下载</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <i class="fa fa-commenting-o"></i>
                            <span>({{musicTops?.commentCount}})</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 歌曲列表 -->
        <div class="content-list">
            <div class="content-list-title">
                <p>播放：
                    <span>{{musicTops?.playCount}}</span>
                </p>
                <div>
                    <span>歌曲列表</span>
                    <i>{{musicTops?.trackCount}}首</i>
                </div>

            </div>
            <div class="content-list-content">
                <table>
                    <thead>
                        <tr>
                            <td width="80">序号</td>
                            <td width="410">标题</td>
                            <td width="90">时长</td>
                            <td width="90">歌手</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let track of musicTops?.tracks ; let indexs=index">
                            <td>{{indexs+1}}</td>
                            <td>
                                <a href="" routerLink="/music/discover/song" [queryParams]="{id:track.id}">{{track.name}}</a>
                            </td>
                            <td>05.03</td>
                            <td>{{track.ar[0].name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- 评论，此部分分为标题，精彩评论，最新评论 -->
        <div class="commend">
            <!-- 评论 -->
            <app-commend [MyCommends]="topCommends"></app-commend>
            <!-- 分页导航，采用ngx插件 -->
            <div class="commend-nav">
                <div class="row">
                    <div class="col-xs-12 col-12">
                        <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [(ngModel)]="currentPage"
                            (pageChanged)="pageChanged($event)" class="pagination-sm" previousText="上页" nextText="下页" firstText="首页"
                            lastText="尾页"></pagination>
                    </div>
                </div>
                <p>共{{pages}}页</p>
            </div>
        </div>

    </div>

</div>
