/**
轮播图样式
*/

.wrap {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 336px;
    background: rgb(48, 38, 38);
}

.wrap-carousel {
    margin-left: auto;
    margin-right: auto;
    width: 982px;
    height: 336px;
    .my-carousel {
        float: left;
        width: 730px;
        height: 336px;
    }
    .wrap-download {
        float: left;
        width: 252px;
        height: 336px;
        background: url(../../../assets/imgs/download/download.png) no-repeat 0px 0px;
        border: 1px solid black;
        div {
            position: relative;
            width: 250px;
            height: 270px;
            a {
                display: block;
                position: absolute;
                bottom: 2px;
                margin-left: 18.5px;
                height: 56px;
                width: 215px;
            }
            a:hover {
                background: url(../../../assets/imgs/download/download.png) no-repeat 0px -340px !important;
                cursor: pointer;
            }
        }
        p {
            width: 100%;
            margin-top: 10px;
            text-align: center;
            color: #666;
        }
    }
}

/**
内容样式，划分左右两边
*/

.recommend-module {
    margin-left: auto;
    margin-right: auto;
    width: 982px;
    border: 1px solid rgb(221, 221, 221);
    border-bottom: none;
    .recommend-module-left {
        float: left;
        width: 729px;
        padding-bottom: 50px;
        background-color: white;
        border-left: 1px solid rgb(221, 221, 221);
        border-top: none;
    }
    .recommend-module-right {
        float: left;
        width: 250px;
        background-color: rgb(253, 252, 252);
        border-left: none;
    }
}

/**
内容样式
左边部分样式
*/

.module-content {
    width: 728px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.module-content-title {
    height: 40px;
    width: 690px;
    margin: 10px auto 0px auto;
    line-height: 40px;
    border-bottom: 2px solid #C10D0C;
    .mo-content-title-i {
        display: block;
        float: left;
        height: 40px;
        margin: 0 10px 0 10px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 900;
        color: #C10D0C;
    }
    .mo-content-title-a {
        display: block;
        float: left;
        margin-right: 20px;
        height: 40px;
        font-size: 20px;
        color: #333;
    }
    .mo-content-title-a:hover {
        cursor: pointer;
        text-decoration: none;
    }
    .mo-content-title-ul {
        float: left;
        height: 40px;
        li {
            height: 40px;
            line-height: 40px;
            a {
                color: #666;
                font-size: 12px;
            }
        }
        span {
            margin-left: 10px;
            margin-right: 10px;
            color: #666;
            font-weight: 600px;
        }
    }
    .mo-content-title-p {
        float: right;
        height: 40px;
        font-size: 12px;
        a {
            color: #666;
        }
        i {
            color: #C10D0C;
        }
    }
}

.module-content-showHot {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
    .showHot-list {
        display: inline-block;
        margin: 21px 21px 0px 21px;
        height: 200px;
        width: 140px;
        .showHot-list-img {
            position: relative;
            display: block;
            height: 140px;
            width: 140px;
            float: left;
            a {
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                height: 140px;
                width: 140px;
                z-index: 10px;
                border: rgb(202, 200, 200) 1px solid;
                background: url(../../../assets/imgs/download/coverall.png) no-repeat 0px 0px !important;
            }
            >div {
                position: absolute;
                z-index: 10px;
                bottom: 0px;
                height: 30px;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                background: #222222;
                border-top: 1.5px solid black;
                opacity: 0.6;
                .showHot-list-p1 {
                    float: left;
                    margin: 0px;
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    color: #cecece;
                    font-size: 16px;
                    text-align: left;
                    i {
                        opacity: 1 !important;
                        margin-right:5px; 
                    }
                    span {
                        font-size: 12px;
                        opacity: 1 !important;
                    }
                }
                .showHot-list-p2 {
                    float: right;
                    margin: 0px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    color:  #cecece;
                    font-size: 20px;
                    text-align: right;
                    i {
                        opacity: 1 !important;
                    }
                }
                .showHot-list-p2 i:hover {
                    color: white;
                    opacity: 0.9;
                }
            }
        }
        >p {
            float: left;
            line-height: 20px;
            margin-top: 10px;
            a {
                font-size: 14px;
                color: black;
            }
        }
    }
}

.module-content-showNew {
    position: relative;
    z-index: 10px;
    width: 690px;
    height: 188px;
    background: #f3f3f3;
    margin: 20px auto 20px auto;
    padding: 20px 22.5px 18px 22.5px;
    .showNew-one {
        position: absolute;
        top: 20px;
        left: 22.5px;
        z-index: 11px;
    }
    .showNew-two {
        position: absolute;
        top: 20px;
        left: 22.5px;
        z-index: -1px;
    }
    .showNew-three {
        position: absolute;
        top: 20px;
        left: 22.5px;
        z-index: -2px;
    }
    .showNew {
        width: 645px;
        height: 150px;
        li {
            float: left;
            height: 150px;
            width: 120px;
            margin: 0px 3px 0px 6px;
            .showNew-a {
                display: block;
                width: 120px;
                height: 100px; // background: #dbdada;
                background: url(../../../assets/imgs/download/coverall.png) no-repeat  0px -569px !important;
                img {
                    height: 100px;
                    width: 100px;
                }
            }
            p {
                width: 100px;
                white-space: nowrap; // 防止输入字符过长影响布局，阻止换行
                overflow: hidden; // 防止输入字符过长影响布局，隐藏内容
                text-overflow: ellipsis; // 防止输入字符过长影响布局，溢出部分替换为...
                a {
                    color: #333;
                }
            }
        }
    }
}

.module-content-showTop {
    width: 690px;
    margin: 20px auto 20px auto;
    .showTop {
        float: left;
        width: 230px;
        height: 450px;
        background: rgb(243, 243, 243);
        box-shadow: 0px 0px 1px #888888;
        .showTop-title {
            width: 230px;
            height: 120px;
            padding: 20px;
            .showTop-title-img {
                display: block;
                float: left;
                width: 80px;
                height: 80px;
                a {
                    display: block;
                    position: relative;
                    width: 80px;
                    height: 80px;
                    img {
                        width: 80px;
                        height: 80px;
                    }
                    a {
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 80px;
                        height: 80px;
                        background: url(../../../assets/imgs/download/coverall.png) no-repeat 0px 0px !important;
                    }
                }
            }
            div:nth-child(2) {
                float: left;
                width: 100px;
                margin-left: 10px;
                .showTop-title-title {
                    margin-bottom: 10px;
                    font-size: 14px;
                    color: black;
                    font-weight: bold;
                }
                .showTop-title-p i {
                    font-size: 26px;
                    margin-right: 10px;
                    color: rgb(160, 160, 160);
                    opacity: 0.7;
                }
                .showTop-title-p i:hover {
                    opacity: 1 !important;
                    color: rgb(126, 125, 125) !important;
                    cursor: pointer;
                }
            }
        }
        ul {
            li:nth-child(odd) {
                background: rgb(243, 243, 243);
            }
            li:nth-child(even) {
                background: rgb(228, 227, 227);
            }
        }
        .showTop-list {
            width: 230px;
            height: 30px;
            padding-left: 20px;
            a {
                display: block;
                float: left;
                margin-left: 5px;
                height: 28px;
                width: 150px;
                line-height: 30px;
                font-size: 12px;
                color: #666;
                white-space: nowrap; // 防止输入字符过长影响布局，阻止换行
                overflow: hidden; // 防止输入字符过长影响布局，隐藏内容
                text-overflow: ellipsis; // 防止输入字符过长影响布局，溢出部分替换为...
            }
            span {
                display: block;
                float: left;
                color: #666;
                height: 30px;
                line-height: 30px;
                width: 20px;
                font-size: 16px;
                text-align: center;
            }
            div {
                display: none;
                height: 28px;
                width: 80px;
                line-height: 28px;
                font-size: 18px;
                color: #a5a5a5;
                i {
                    margin-right: 6px;
                }
                i:hover {
                    color: #888888;
                    cursor: pointer;
                }
            }
        }
        .showTop-list:hover {
            div {
                display: block;
                float: right;
            }
            a {
                width: 100px;
                height: 30px;
                line-height: 30px;
                white-space: nowrap; // 防止输入字符过长影响布局，阻止换行
                overflow: hidden; // 防止输入字符过长影响布局，隐藏内容
                text-overflow: ellipsis; // 防止输入字符过长影响布局，溢出部分替换为...
            }
        }
        .showTop-last {
            height: 30px;
            padding-left: 20px;
            padding-right: 30px;
            text-align: right;
            line-height: 30px;
            a {
                font-size: 14px;
                color: #666;
            }
        }
        .showTop-last:hover {
            cursor: pointer;
        }
    }
}

/**
内容样式
右边部分样式
*/

.module-login {
    height: 126px;
    width: 251px;
    background-color: rgba(247, 245, 245, 0.842);
    box-shadow: 0px 0px 2px #888888;
    p {
        padding: 15px 20px 15px 20px;
        color: #666;
        line-height: 25px;
    }
    a {
        display: block;
        height: 30px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        background-color: #C20C0C;
        line-height: 30px;
        font: 12px;
        color: white;
        text-align: center;
    }
    a:hover {
        text-decoration: none;
        background-color: rgb(207, 52, 52);
    }
}

.hot-artists {
    height: 126px;
    width: 221px;
    margin: 10px 15px 10px 15px;
    .hot-artists-title {
        height: 30px;
        margin-bottom: 20px;
        border-bottom: 1px rgb(161, 160, 160) solid;
        p {
            display: inline-block;
            height: 30px;
            color: black;
            line-height: 30px;
        }
        a {
            display: block;
            float: right;
            height: 30px;
            color: #888888;
            line-height: 30px;
        }
    }
    .hot-artists-list {
        width: 221px;
        ul {
            width: 221px;
            li {
                width: 221px;
                height: 60px;
                margin-top: 10px;
                margin-bottom: 10px;
                background: #faf9f9;
                box-shadow: 0px 0px 2px #a5a5a5;
                a {
                    display: block;
                    width: 221px;
                    height: 60px;
                    color: #888888;
                }
                a:hover {
                    cursor: pointer;
                }
                img {
                    height: 60px;
                    width: 60px;
                }
                div {
                    float: right;
                    width: 140px;
                    p {
                        height: 29px;
                        line-height: 29px;
                        font-size: 14px;
                        b {
                            color: #222222;
                        }
                    }
                }
            }
            li:hover {
                background: #f5f5f5 !important;
            }
        }
    }
    .hot-artists-apply {
        width: 221px;
        height: 30px;
        border-radius: 3px;
        box-shadow: 0px 0px 2px #a5a5a5;
        background: #faf9f9;
        a {
            display: block;
            width: 221px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #222222;
            font-size: 14px;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

/**
总体自适应
*/

@media (max-width:982px) {
    .wrap {
        width: 982px;
    }
}
