.artist {
    width: 982px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background: white;
    border-left: 1px #666 solid;
    border-right: 1px #666 solid;
    .artist-model {
        margin: 0px;
        width: 800px;
        padding: 40px;
        float: right;
        border-left: 1px #666 solid;
        background: white;
    }
}

.artist-nav {
    margin: 0px;
    width: 180px;
    float: left;
    background: white;
    padding-top: 40px;
    .artist-nav-title {
        width: 180px;
        padding-left: 10px;
        padding-right: 10px;
        p {
            font-size: 20px;
            width: 160px;
        }
        .artist-nav-list {
            width: 160px;
            ul {
                width: 160px;
                li {
                    height: 30px;
                    line-height: 30px;
                    >span{
                        font-size: 44px;
                    }
                    a {
                        color: #666;
                    }
                }
                
            }
        }
    }
}

.artist-model-title {
    height: 50px;
    width: 719px;
    line-height: 50px;
    border-bottom: 2px rgb(177, 11, 11) solid;
    a {
        display: block;
        float: right;
        color: #666;
    }
    a:hover {
        cursor: pointer;
    }
    span {
        font-size: 20px;
    }
}

.artist-model-top {
    margin-bottom: 20px;
}

.artist-model-top-ul {
    width: 719px;
    li {
        height: 160px;
        width: 130px;
        display: inline-block;
        margin-right: 17px;
        margin-top: 20px;
        .artist-model-top-img {
            position: relative;
            height: 130px;
            width: 130px;
            margin-bottom: 10px;
            a {
                position: absolute;
                display: block;
                top: 0px;
                left: 0px;
                height: 130px;
                width: 130px;
                background: url(../../../assets/imgs/download/coverall.png) no-repeat 0px 0px !important;
            }
            a:hover {
                cursor: pointer;
            }
        }
        >p {
            a:nth-child(1) {
                display: block;
                float: right;
                font-size: 14px;
                color: rgb(204, 12, 12);
            }
            a:nth-child(1):hover {
                cursor: pointer;
                text-decoration: none;
            }
            a:nth-child(2) {
                color: #666;
            }
        }
    }
    li:nth-child(5n+5) {
        margin-right: 0px;
    }
}

.artist-model-list {
    width: 719px;
    border-top: 1px #666 dotted;
    ul {
        li {
            width: 130px;
            display: inline-block;
            margin-right: 17px;
            margin-top: 20px;
            text-align: left;
            a:nth-child(2) {
                font-size: 14px;
                color: rgb(204, 12, 12);
            }
            a:nth-child(2):hover {
                cursor: pointer;
                text-decoration: none;
            }
            a:nth-child(1) {
                color: #666;
            }
        }
        li:nth-child(5n+5) {
            margin-right: 0px;
        }
    }
}
