<!-- 主页面 -->
<nav class="mynav">
    <div class="nav-list1">
        <div class="nav-mylist">
            <h1>
                <a title="网易云音乐"></a>
            </h1>
            <ul class="list-inline">
                <li routerLink="/music/discover">发现音乐</li>
                <li routerLink="/music/mymusic">我的音乐</li>
                <li>朋友</li>
                <li>商城</li>
                <li>音乐人</li>
                <li>下载客户端</li>
            </ul>

            <div class="login" (mousemove)="loginList=true" (mouseleave)="loginList=flase">
                <a> 登录</a>
                <i class="fa fa-caret-down"></i>

                <div class="login-list" [style.display]="loginList? 'block' : 'none'">
                    <ul>
                        <li>
                            <i class="fa fa-mobile login-list-i"></i>
                            <span> 手机号登录</span>
                        </li>
                        <li>
                            <i class="fa fa-weixin"></i>
                            <span>微信登录</span>
                        </li>
                        <li>
                            <i class="fa fa-qq"></i>
                            <span>QQ登录</span>
                        </li>
                        <li>
                            <i class="fa fa-weibo"></i>
                            <span>新浪微博登录</span>
                        </li>
                        <li>
                            <span>易</span>
                            <span>网易云音乐</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contribute">
                <i class="fa fa-video-camera"></i>
                <p>视频投稿</p>
            </div>
            <div class="nav-mylist-search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="音乐/视频/电台/用户">
            </div>

        </div>
    </div>
    <div class="nav-list2">
        <div class="nav-list2-list">
            <ul>
                <li *ngFor="let localTitle of localTitles;let isIndex=index" (click)="isindex=isIndex">
                    <a routerLink="{{localTitle.route}}" routerLinkActive="nav-list2-list-a">
                        <span [class.nav-list2-list-span]="isindex==isIndex">{{localTitle.name}}</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>

<footer>
    <div class="myfooter">
        <p>模仿网易云音乐（仅用于学习）</p>
        <p>
            <a href="https://github.com/Binaryify/NeteaseCloudMusicApi" target="_blank"> 感谢大神提供的api：https://github.com/Binaryify/NeteaseCloudMusicApi</a>
        </p>
    </div>
</footer>
