<!-- 新碟上架 -->
<div class="erro" *ngIf="thisAlbums?.code==400">
    <p>请求错误</p>
</div>

<div class="thisAlbum clearfix" *ngIf="thisAlbums?.code==200">
    <div class="album">
        <div class="album-title ">
            <div class="album-title-title clearfix">
                <div class="album-title-img">
                    <img height="177" width="177" src="{{album.picUrl}}" alt="">
                    <a href=""></a>
                </div>
                <div class="album-title-name">
                    <div>
                        <p></p>
                        <p> {{album.name}}</p>

                    </div>
                    <p>
                        <span>歌手：</span>
                        <span [style.color]="'rgb(8, 173, 250)'">{{album.artist.name}}</span>
                    </p>
                    <p>
                        <span>发行时间：</span>
                        <span>{{album.publishTime}}</span>
                    </p>
                    <p>
                        <span>发行公司:</span>
                        <span>{{album.company}}</span>
                    </p>
                </div>
            </div>
            <div class="album-title-p clearfix">
                <h2>
                    <b>专辑介绍</b>
                </h2>
                <div [class.openClose]="open">
                    <p *ngFor="let albumText of albumTexts">{{albumText}}</p>
                </div>
                <!-- 展开或者收起，少于6行时不显示，具体看ts中的openClose -->
                <a *ngIf="openClose" (click)="open=!open">
                    <span *ngIf="!open">展开</span>
                    <i *ngIf="!open" class="fa fa-chevron-down"></i>
                    <span *ngIf="open">收起</span>
                    <i *ngIf="open" class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="album-songs">
            <div class="album-songs-list">
                <div class="album-songs-list-title">
                    <p>
                        <span>包含歌曲列表</span>
                        <span>首歌</span>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td width="80">序号</td>
                            <td width="410">标题</td>
                            <td width="90">时长</td>
                            <td width="90">歌手</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let song of songs ; let indexs=index">
                            <td>{{indexs+1}}</td>
                            <td>
                                <a href="" routerLink="/music/discover/song" [queryParams]="{id:song.id}">{{song.name}}</a>
                            </td>
                            <td>05.03</td>
                            <td>{{song.ar[0].name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- 评论，此部分分为标题，精彩评论，最新评论 -->
        <div class="commend">
            <app-commend [MyCommends]="albumCommends"></app-commend>
            <!-- 分页导航，采用ngx插件 -->
            <div class="commend-nav">
                <div class="row">
                    <div class="col-xs-12 col-12">
                        <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [(ngModel)]="currentPage"
                            (pageChanged)="pageChanged($event)" class="pagination-sm" previousText="上页" nextText="下页" firstText="首页"
                            lastText="尾页"></pagination>
                    </div>
                </div>
                <p>共{{pages}}页</p>
            </div>
        </div>
    </div>

    <div class="otherAlbum">
        <p>jjdjdjjd</p>
    </div>

</div>
